#video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.container-video{
    z-index: 0;
}
.swiper {
  height: 50vh;
}

.swiper-slide {

    margin-right: 10px; 
}

.swiper-slide img {
  width: 100%;
  height: 85%;
  object-fit: cover; 
}


.modal-content {
   background-color: rgba(0, 0, 0, 0);
}
.horizontal-line {
  flex-grow: 1;
  height: 2px;
  background-color: #000; 
  margin: 0 120px; 
}


.play-button {
  width: 60px; /* Điều chỉnh kích thước theo ý muốn của bạn */
  height: 60px;
  background: url('../../../assets/playbutton.png'); 
  background-size: cover;
}