#video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.container-video{
    z-index: 0;

}
.swiper {
  width: 100%;
  height: 50vh;

}

.swiper-slide {
  text-align: center;
  background: #e9e9e900;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 500px; */
}

.modal-content {
   background-color: rgba(0, 0, 0, 0);
}
.horizontal-line {
  flex-grow: 1;
  height: 2px;
  background-color: #000; /* Màu của đường ngang */
  margin: 0 120px; /* Khoảng cách giữa đường ngang và chữ "Video" */
}